@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100');
@import url('https://fonts.googleapis.com/css?family=Poppins:100i');
@import url('https://fonts.googleapis.com/css?family=Poppins:200');
@import url('https://fonts.googleapis.com/css?family=Poppins:200i');
@import url('https://fonts.googleapis.com/css?family=Poppins:300');
@import url('https://fonts.googleapis.com/css?family=Poppins:300i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400');
@import url('https://fonts.googleapis.com/css?family=Poppins:400i');
@import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Poppins:500i');
@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Poppins:600i');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Poppins:700i');
@import url('https://fonts.googleapis.com/css?family=Poppins:800');
@import url('https://fonts.googleapis.com/css?family=Poppins:800i');
@import url('https://fonts.googleapis.com/css?family=Poppins:900');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

$red: #D62B2B;
$orange: #E09524;
$yellow: #F4DF21;
$green: #2BD63C;
$blue: #2BD6D6;
$gray: #C4C4C4;

* {
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

body {

    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    // MENÚ

    #header-nav {
        background: #FAFAFA;
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        width: 350px;
        height: 100%;
        z-index: 999;
        position: relative;

        #info {
            // background: red;
            display: flex;
            flex-direction: column;
            font-size: 13px;
            margin-left: 10px;
            justify-content: space-between;
            margin-left: 20px;



            h2 {
                padding-top: 20px;
            }

            #grados {
                display: flex;
                padding-top: 10px;
                margin-bottom: 20px;

                #HT2 {
                    background: $red;
                    padding: 2px;
                    width: 28px;
                    height: 28px;
                    border-radius: 20px;
                    color: white;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                #HT1 {
                    background: $orange;
                    padding: 2px;
                    width: 28px;
                    height: 28px;
                    border-radius: 20px;
                    color: white;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                #elevada {
                    background: $yellow;
                    padding: 2px;
                    width: 28px;
                    height: 28px;
                    border-radius: 20px;
                    color: white;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                #normal {
                    background: $green;
                    padding: 2px;
                    width: 28px;
                    height: 28px;
                    border-radius: 20px;
                    color: white;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }



                #bataBlanca {
                    background: $blue;
                    padding: 2px;
                    width: 28px;
                    height: 28px;
                    border-radius: 20px;
                    color: white;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                #nuevo {
                    background: $gray;
                    padding: 2px;
                    width: 28px;
                    height: 28px;
                    border-radius: 20px;
                    color: white;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }

            //    barra de busqueda

            #barraBusqueda {
                display: flex;

                .search {
                    font-size: 20px;
                }

                #search {
                    padding: 5px;
                    // background: blue;
                    border-radius: 15px;
                }

                i {
                    font-size: 17px;
                    color: grey;
                }

                button {
                    background: none;
                    padding-left: 10px;
                }

            }

        }

        // Menu pacientes de hoy
        #pacientesHoy {

            #pacientesAgendados {
                padding-left: 20px;
                margin-top: 20px;
                margin-bottom: 15px;
                font-size: 13px;
                font-weight: 600;
            }

            #menu {
                // background: green;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 150px;
                border-top-width: 3px;
                border-top-color: $gray;
                border-top-style: solid;


                h2 {
                    padding-left: 20px;
                }

                li {
                    padding: 10px;
                    border-color: #a8a8ad;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    font-size: 13px;

                    a {
                        width: 100%;
                        height: 100%;
                        color: black;
                        padding-left: 20px;
                    }



                    #redcircle {
                        background: $red;
                        width: 10px;
                        height: 10px;
                        border-radius: 40px;
                        margin-right: 10px;
                    }


                    #orangecircle {
                        background: $orange;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }

                    #yellowcircle {
                        background: $yellow;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }

                    #greencircle {
                        background: $green;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }


                    #bluecircle {
                        background: $blue;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }


                    #graycircle {
                        background: $gray;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }
                }

                li:hover {
                    background: #e7e7ff;
                    font-weight: 700;
                }
            }

        }

        // menu otros pacientes

        #pacientesOtroDia {

            position: absolute;
            top: 400px;
            width: 350px;

            #pacientesNoAgendados {
                padding-left: 20px;
                margin-top: 20px;
                margin-bottom: 15px;
                font-size: 13px;
                font-weight: 600;
            }

            #menu {
                // background: green;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 150px;
                border-top-width: 3px;
                border-top-color: $gray;
                border-top-style: solid;


                h2 {
                    padding-left: 20px;
                }

                li {
                    padding: 10px;
                    border-color: #a8a8ad;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    font-size: 13px;


                    a {
                        width: 100%;
                        height: 100%;
                        color: black;
                        margin-left: 20px;
                    }

                    #redcircle {
                        background: $red;
                        width: 10px;
                        height: 10px;
                        border-radius: 40px;
                        margin-right: 10px;
                    }


                    #orangecircle {
                        background: $orange;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }

                    #yellowcircle {
                        background: $yellow;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }

                    #greencircle {
                        background: $green;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }


                    #bluecircle {
                        background: $blue;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }


                    #graycircle {
                        background: $gray;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        margin-right: 10px;
                    }
                }

                li:hover {
                    background: #e7e7ff;
                    font-weight: 700;
                }
            }

        }
    }

    #content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex: 1 1 auto;
        width: 100%;
        overflow-y: auto;
        background: #FAFAFA;


        // información del paciente

        #infoPacientes {
            width: 95%;
            margin: 5px;
            color: black;

            #pacientes {
                display: flex;
                background: white;
                border-radius: 10px;
                position: relative;
                height: 130px;

                #pNuevo {
                    background: $gray;
                    width: 12px;
                    border-radius: 10px 0 0 10px;
                }

                #pNormal {
                    background: #2BD63C;
                    width: 12px;
                    border-radius: 10px 0 0 10px;
                }

                #pElevada {
                    background: $orange;
                    width: 12px;
                    border-radius: 10px 0 0 10px;
                }



                #datos {
                    display: flex;
                    flex-direction: column;
                    margin: 25px;
                    margin-left: 40px;

                    h2 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                #fecha {
                    margin: 10px;
                    position: absolute;
                    right: 30px;
                    top: 18px;
                    font-size: 15px;
                }

                #hora {
                    margin: 10px;
                    position: absolute;
                    right: 30px;
                    top: 39px;
                    font-size: 12px;
                    font-weight: 500;

                }


            }


            #pacientes:hover {

                background: #e7e7ff;

            }

        }

        // Actividad de la ultima hora 

        #actividadForm {

            background: white;
            border-radius: 15px;
            width: 95%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            height: 450px;
            position: relative;
            flex-direction: column;


            h1 {
                font-size: 25px;
                margin: 20px;
                margin-left: 30px;
                position: absolute;
                top: 10px;
                left: 20px;
            }


            #preguntas {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                align-items: center;
                margin-top: 45px;

                .no {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 140px;
                    height: 140px;
                    text-align: center;
                    padding: 10px;
                    border-radius: 10px;
                    border-style: solid;
                    border-color: gray;
                    border-width: 1.5px;
                    color: gray;
                    font-size: 16px;
                    padding: 10px;
                    margin: 30px;

                    i {
                        font-size: 40px;
                        padding-bottom: 8px;
                    }

                    p {
                        font-size: 16px;
                        color: gray;
                    }
                }

                .si {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 140px;
                    height: 140px;
                    text-align: center;
                    padding: 10px;
                    border-radius: 10px;
                    border-style: solid;
                    border-color: $green;
                    border-width: 1.5px;
                    color: $green;
                    font-size: 16px;
                    padding: 10px;
                    margin: 30px;

                    i {
                        font-size: 40px;
                        padding-bottom: 8px;
                    }

                    p {
                        font-size: 16px;
                        color: $green;
                    }
                }

                #dormir {

                    i {
                        font-size: 22px;
                        padding-bottom: 3px;
                    }
                }

                #cafe {


                    i {
                        font-size: 25px;
                        padding-bottom: 10px;
                    }
                }

                #comida {


                    i {
                        font-size: 23px;
                        padding-bottom: 10px;
                    }
                }

                p {
                    font-size: 12px;
                    color: $gray;
                }
            }

            #enviar {
                background: none;
                border-style: solid;
                border-color: black;
                border-radius: 3px;
                padding: 16px 30px;
                font-size: 16px;
                color: black;
            }

            #enviar:hover {
                background: grey;
                color: white;
                font-weight: 700;
                border: white;

            }


        }
    }


}