@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100");
@import url("https://fonts.googleapis.com/css?family=Poppins:100i");
@import url("https://fonts.googleapis.com/css?family=Poppins:200");
@import url("https://fonts.googleapis.com/css?family=Poppins:200i");
@import url("https://fonts.googleapis.com/css?family=Poppins:300");
@import url("https://fonts.googleapis.com/css?family=Poppins:300i");
@import url("https://fonts.googleapis.com/css?family=Poppins:400");
@import url("https://fonts.googleapis.com/css?family=Poppins:400i");
@import url("https://fonts.googleapis.com/css?family=Poppins:500");
@import url("https://fonts.googleapis.com/css?family=Poppins:500i");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
@import url("https://fonts.googleapis.com/css?family=Poppins:600i");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import url("https://fonts.googleapis.com/css?family=Poppins:700i");
@import url("https://fonts.googleapis.com/css?family=Poppins:800");
@import url("https://fonts.googleapis.com/css?family=Poppins:800i");
@import url("https://fonts.googleapis.com/css?family=Poppins:900");
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  background: #26295f;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #nav-bar #logo {
  height: 100%;
  width: 4%;
  padding-top: 10px;
  padding-bottom: 8px;
}

body #header-nav {
  background: #26295f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 350px;
  height: 100%;
  z-index: 999;
  position: relative;
  -webkit-box-shadow: 2px 0 8px -2px #1c1f475e;
          box-shadow: 2px 0 8px -2px #1c1f475e;
}

body #header-nav #navBar {
  width: 355px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  border-radius: 0px 0px 10px 0px;
  -webkit-box-shadow: 2px 0 8px -2px #1c1f475e;
          box-shadow: 2px 0 8px -2px #1c1f475e;
}

body #header-nav #navBar a {
  height: 90%;
}

body #header-nav #navBar a #logo {
  height: 90%;
  padding-top: 5px;
}

body #header-nav #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  margin-left: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

body #header-nav #info h2 {
  padding-top: 10px;
  color: white;
}

body #header-nav #info #grados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}

body #header-nav #info #grados #HT2 {
  background: #D62B2B;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  color: #26295f;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #info #grados #HT1 {
  background: #E09524;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  color: #26295f;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #info #grados #elevada {
  background: #F4DF21;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  color: #26295f;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #info #grados #normal {
  background: #2BD63C;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  color: #26295f;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #info #grados #bataBlanca {
  background: #2BD6D6;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  color: #26295f;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #info #grados #nuevo {
  background: #C4C4C4;
  padding: 2px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  color: #26295f;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #info #barraBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #header-nav #info #barraBusqueda .search {
  font-size: 20px;
}

body #header-nav #info #barraBusqueda #search {
  padding: 7px;
  border-radius: 15px;
}

body #header-nav #info #barraBusqueda i {
  font-size: 17px;
  color: white;
}

body #header-nav #info #barraBusqueda button {
  background: none;
  padding-left: 10px;
}

body #header-nav #pacientesHoy #pacientesAgendados {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
  color: white;
}

body #header-nav #pacientesHoy #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  border-top-width: 3px;
  border-top-color: #ffffff73;
  border-top-style: solid;
}

body #header-nav #pacientesHoy #menu h2 {
  padding-left: 20px;
}

body #header-nav #pacientesHoy #menu li {
  padding: 10px;
  border-color: #ffffff73;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

body #header-nav #pacientesHoy #menu li a {
  width: 100%;
  height: 100%;
  color: white;
  padding-left: 20px;
}

body #header-nav #pacientesHoy #menu li #redcircle {
  background: #D62B2B;
  width: 10px;
  height: 10px;
  border-radius: 40px;
  margin-right: 10px;
}

body #header-nav #pacientesHoy #menu li #orangecircle {
  background: #E09524;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesHoy #menu li #yellowcircle {
  background: #F4DF21;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesHoy #menu li #greencircle {
  background: #2BD63C;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesHoy #menu li #bluecircle {
  background: #2BD6D6;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesHoy #menu li #graycircle {
  background: #C4C4C4;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesHoy #menu li:hover {
  background: #5a6ba9;
  font-weight: 700;
}

body #header-nav #pacientesOtroDia {
  position: absolute;
  top: 400px;
  width: 350px;
}

body #header-nav #pacientesOtroDia #pacientesNoAgendados {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
  color: white;
}

body #header-nav #pacientesOtroDia #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  border-top-width: 3px;
  border-top-color: #ffffff73;
  border-top-style: solid;
}

body #header-nav #pacientesOtroDia #menu h2 {
  padding-left: 20px;
}

body #header-nav #pacientesOtroDia #menu li {
  padding: 10px;
  border-color: #ffffff73;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

body #header-nav #pacientesOtroDia #menu li a {
  width: 100%;
  height: 100%;
  color: white;
  margin-left: 20px;
}

body #header-nav #pacientesOtroDia #menu li #redcircle {
  background: #D62B2B;
  width: 10px;
  height: 10px;
  border-radius: 40px;
  margin-right: 10px;
}

body #header-nav #pacientesOtroDia #menu li #orangecircle {
  background: #E09524;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesOtroDia #menu li #yellowcircle {
  background: #F4DF21;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesOtroDia #menu li #greencircle {
  background: #2BD63C;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesOtroDia #menu li #bluecircle {
  background: #2BD6D6;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesOtroDia #menu li #graycircle {
  background: #C4C4C4;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

body #header-nav #pacientesOtroDia #menu li:hover {
  background: #5a6ba9;
  font-weight: 700;
}

body #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  background: #8d9edd;
}

body #content #losPacientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 208px;
}

body #content #losPacientes #infoPacientes {
  width: 90%;
  margin: 4px;
  color: black;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
  border-radius: 10px;
}

body #content #losPacientes #infoPacientes #pacientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 10px;
  position: relative;
  height: 120px;
}

body #content #losPacientes #infoPacientes #pacientes #pNuevo {
  background: #C4C4C4;
  width: 12px;
  border-radius: 10px 0 0 10px;
}

body #content #losPacientes #infoPacientes #pacientes #pNormal {
  background: #2BD63C;
  width: 12px;
  border-radius: 10px 0 0 10px;
}

body #content #losPacientes #infoPacientes #pacientes #pElevada {
  background: #E09524;
  width: 12px;
  border-radius: 10px 0 0 10px;
}

body #content #losPacientes #infoPacientes #pacientes #datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 13px;
  margin-left: 40px;
}

body #content #losPacientes #infoPacientes #pacientes #datos h2 {
  font-size: 20px;
}

body #content #losPacientes #infoPacientes #pacientes #datos p {
  font-size: 14px;
}

body #content #losPacientes #infoPacientes #pacientes #fecha {
  margin: 10px;
  position: absolute;
  right: 30px;
  top: 18px;
  font-size: 15px;
}

body #content #losPacientes #infoPacientes #pacientes #hora {
  margin: 10px;
  position: absolute;
  right: 30px;
  top: 39px;
  font-size: 12px;
  font-weight: 500;
}

body #content #losPacientes #infoPacientes #pacientes:hover {
  background: #e7e7ff;
}

body #content #estadosOm {
  width: 45%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 75px;
}

body #content #estadosOm h1 {
  font-size: 25px;
}

body #content #estadosOm p {
  font-size: 14px;
}

body #content #estadosOm .disponible {
  background: #2BD6D6;
  color: #26295f;
  width: 200px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #content #estadosOm .noDisponible {
  background: #FF9999;
  color: white;
  width: 200px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #content #estadosOm .noDisponible p {
  font-size: 12px;
}

body #content #estadosOm .vibrando {
  background: #A661E2;
  color: white;
  width: 200px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #content #estadosOm #clasificacion {
  width: 95%;
  margin-bottom: 20px;
}

body #content #estadosOm #clasificacion h1 {
  font-size: 23px;
}

body #content #estadosOm #clasificacion ul {
  background: white;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #content #estadosOm #clasificacion ul li {
  padding: 10px;
  border-color: #a8a8ad;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

body #content #estadosOm #clasificacion ul li h2 {
  font-size: 14px;
  color: black;
  padding-left: 20px;
}

body #content #estadosOm #clasificacion ul li div {
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

body #content #estadosOm #clasificacion ul li #gray {
  background: #C4C4C4;
}

body #content #estadosOm #clasificacion ul li #blue {
  background: #2BD6D6;
}

body #content #estadosOm #clasificacion ul li #green {
  background: #2BD63C;
}

body #content #estadosOm #clasificacion ul li #orange {
  background: #E09524;
}

body #content #estadosOm #clasificacion ul li #red {
  background: #D62B2B;
}

body #content #infoPaciente {
  width: 95%;
  margin: 5px;
  color: black;
  margin-top: 50px;
}

body #content #infoPaciente #pacientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 10px;
  position: relative;
  height: 130px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
  border-radius: 10px;
}

body #content #infoPaciente #pacientes #pNuevo {
  background: #C4C4C4;
  width: 12px;
  border-radius: 10px 0 0 10px;
}

body #content #infoPaciente #pacientes #pNormal {
  background: #2BD63C;
  width: 12px;
  border-radius: 10px 0 0 10px;
}

body #content #infoPaciente #pacientes #pElevada {
  background: #E09524;
  width: 12px;
  border-radius: 10px 0 0 10px;
}

body #content #infoPaciente #pacientes #datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
  margin-left: 40px;
}

body #content #infoPaciente #pacientes #datos h2 {
  font-size: 20px;
}

body #content #infoPaciente #pacientes #datos p {
  font-size: 14px;
}

body #content #infoPaciente #pacientes #fecha {
  margin: 10px;
  position: absolute;
  right: 30px;
  top: 18px;
  font-size: 15px;
}

body #content #infoPaciente #pacientes #hora {
  margin: 10px;
  position: absolute;
  right: 30px;
  top: 39px;
  font-size: 12px;
  font-weight: 500;
}

body #content #contentActividad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
}

body #content #contentActividad #actividadMecanismo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  border-radius: 15px;
  width: 45%;
  height: 450px;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #content #contentActividad #actividadMecanismo #formArduino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 450px;
}

body #content #contentActividad #actividadMecanismo #formArduino h1 {
  font-size: 25px;
}

body #content #contentActividad #actividadMecanismo #formArduino #chalecos {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1.5px;
  color: gray;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1.5px;
  color: #26295f;
  font-size: 15px;
  margin: 10px;
  border-color: gray;
  background: none;
  color: #26295f;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones button i {
  font-size: 30px;
  padding-bottom: 8px;
  color: #26295f;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .iniciarNoSelected {
  background: #bbffc1;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .iniciarNoSelected:hover {
  background: #2BD63C;
  border: none;
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .iniciarNoSelected:hover i {
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .iniciarSelected {
  background: #2BD63C;
  border: none;
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .iniciarSelected i {
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .detenerNoSelected {
  background: #FF9999;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .detenerNoSelected:hover {
  background: #D62B2B;
  border: none;
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .detenerNoSelected:hover i {
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .detenerSelected {
  background: #D62B2B;
  border: none;
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .detenerSelected i {
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .vibracionNoSelected {
  background: #DAB0FF;
  font-size: 13px;
  padding-top: 19px;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .vibracionNoSelected:hover {
  background: #A661E2;
  border: none;
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .vibracionNoSelected:hover i {
  color: white;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .vibracionSelected {
  background: #D62B2B;
  border: none;
  color: white;
  padding-top: 19px;
}

body #content #contentActividad #actividadMecanismo #formArduino #botones .vibracionSelected i {
  color: white;
}

body #content #contentActividad #actividadForm {
  background: white;
  border-radius: 15px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 2px 2px 0px #1c1f474b;
          box-shadow: 0px 2px 2px 0px #1c1f474b;
}

body #content #contentActividad #actividadForm h1 {
  font-size: 25px;
}

body #content #contentActividad #actividadForm #preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  height: 300px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #content #contentActividad #actividadForm #preguntas .no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1.5px;
  color: gray;
  font-size: 12px;
  margin: 10px;
}

body #content #contentActividad #actividadForm #preguntas .no i {
  font-size: 30px;
  color: #26295f;
}

body #content #contentActividad #actividadForm #preguntas .no p {
  font-size: 15px;
  color: #26295f;
}

body #content #contentActividad #actividadForm #preguntas .si {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #2BD63C;
  color: white;
  background: #2BD63C;
  font-size: 12px;
  margin: 10px;
}

body #content #contentActividad #actividadForm #preguntas .si i {
  font-size: 30px;
}

body #content #contentActividad #actividadForm #preguntas .si p {
  font-size: 15px;
  color: white;
}

body #content #contentActividad #actividadForm #preguntas #actividad {
  cursor: pointer;
}

body #content #contentActividad #actividadForm #preguntas #actividad i {
  font-size: 30px;
  padding-bottom: 3px;
}

body #content #contentActividad #actividadForm #preguntas #dormir {
  cursor: pointer;
}

body #content #contentActividad #actividadForm #preguntas #dormir i {
  font-size: 22px;
  padding-bottom: 3px;
}

body #content #contentActividad #actividadForm #preguntas #cafe {
  cursor: pointer;
}

body #content #contentActividad #actividadForm #preguntas #cafe i {
  font-size: 25px;
  padding-bottom: 10px;
}

body #content #contentActividad #actividadForm #preguntas #comida {
  cursor: pointer;
}

body #content #contentActividad #actividadForm #preguntas #comida i {
  font-size: 23px;
  padding-bottom: 10px;
}

body #content #contentActividad #actividadForm #preguntas p {
  font-size: 12px;
  color: #C4C4C4;
}

body #content #contentActividad #actividadForm #enviar {
  background: none;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1.5px;
  cursor: pointer;
  padding: 5px 25px 5px 25px;
  font-size: 16px;
  color: black;
  width: 100px;
  height: 40px;
}

body #content #contentActividad #actividadForm #enviar:hover {
  background: grey;
  color: white;
  font-weight: 700;
  border: white;
}
/*# sourceMappingURL=styleEnfermera.css.map */